<a href="https://colab.research.google.com/github/adarsh-one/data-_analysis/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Score Board Tracker

In [ ]:
atss = {}
p = input("Do you want to enter team, Press Y/N")

while p in 'Yy':

  team = input('Enter team name :')

  print("Enter matches won/lost/drew in following sequence")

  won = int(input('Enter no.of matches won'))
  draw = int(input('Enter no.of matches drew'))
  lost = int(input('Enter no.of matches lost'))

  score = (3*won) + (1*draw) + (0*lost)
  total = won + draw + lost
  atss[team] = 'score = ' + str(score) + ' , ' + 'total matches = ' + str(total)



  print("Scoreboard" , atss)

  p = input('Do you want to enter more, press Y else N:  ')

Do you want to enter team, Press Y/Ny
Enter team name :x
Enter matches won/lost/drew in following sequence
Enter no.of matches won1
Enter no.of matches drew1
Enter no.of matches lost1
Scoreboard {'x': 'score = 4 , total matches = 3'}
Do you want to enter more, press Y else N:  y
Enter team name :y
Enter matches won/lost/drew in following sequence
Enter no.of matches won1
Enter no.of matches drew2
Enter no.of matches lost3
Scoreboard {'x': 'score = 4 , total matches = 3', 'y': 'score = 5 , total matches = 6'}
Do you want to enter more, press Y else N:  n

##29. Calculator using oops

In [ ]:
#calculator oops

class Calculator:

  def add(self , num1 , num2):
    return num1+num2

  def sub(self , num1 , num2):
    return num1 - num2

  def multiply(self , num1 , num2):
    return num1*num2

  def divison(self , num1 , num2):
   ##try:
   ##except ZeroDivisionError:
     if num2 == 0:

      raise ZeroDivisionError("Cannot be divided by zero")

     return num1/num2

In [ ]:
calc = Calculator()

print(calc.add(1,0))
print(calc.divison(1,0))

1

ZeroDivisionError: Cannot be divided by zero

In [ ]:
calc.add(int(input()),int(input()))

1
2

3

# 2. Nutrition Bar Ingredient

In [ ]:
## Nutrition bar

raisins= 45
almonds= 65
apricots=30

lst = [45,65,30]

raisins_perc = round( 45*100/sum(lst) , 2)
almonds_perc = round( 65*100/sum(lst) , 2)
apricots_perc = round( 30*100/sum(lst) , 2)

ingredients_perc = {'raisins': raisins_perc , 'almonds': almonds_perc , 'apricots': apricots_perc}

print(ingredients_perc)

{'raisins': 32.14, 'almonds': 46.43, 'apricots': 21.43}

In [ ]:
## round( decimal number , how many digits after decimal does rounding off needs to be done)
round(32.15 , 1)
round(32.155 , 1)
round(32.151 , 1)
round(32.14 , 1)

32.2

# 3.  Algebric functions: f(x) = x^2 + 3x - 4

In [ ]:
## Algebric functions: f(x) = x^2 + 3x - 4

##x = float(input('Enter value of x: '))

'''x = [3 , -2 , 4]

storage = {}

for value in x:
 func = value**2 + 3*value - 4
 storage[value] = func

print(storage)'''

##

def func(num):
  return num**2 + 3*num - 4

In [ ]:
func(3)

14

In [ ]:
func(3) == (4)

False

In [ ]:
if func(3) == 0:

# 4. Finding total E's in the Bookshelves

In [ ]:
## Count total e/E's

books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

lst = books.split(',')

print(lst)

count_e = books.count('e')
count_E = books.count('E')

total = count_e + count_E

print(total)

['Python for Everyone', ' Learn Python the Hard Way', ' Python Crash Course ', ' Starting Out with Python', ' Automate the Boring Stuff with Python']
8

## 5 .Unleashing the Power of Mean in Exam Analysis

In [ ]:
##Mean

marks = [67,87,75,46,89,97,68,98,87,88]

mean = sum(marks)/len(marks)

print(mean)

80.2

## 6. John's Fruit Stand Sales Mix-up

In [ ]:
## sales shop

lst=['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']

lst_dict = {}

for value in lst:
  if value not in lst_dict:
   lst_dict[value] = 1
  else:
   lst_dict[value] += 1

print(lst_dict)

{'Mango': 4, 'Pineapple': 6, 'Apple': 5, 'Banana': 2}

##7. Indexing and slicing
##1. Imagine that you are a superhero movie buff and you're trying to create a list of the most iconic Marvel characters. You have compiled a list of some of the most popular characters, but you want to narrow it down to the top 6.

##2. Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.

##3. Store the word 'Spider-Man' in a new variable, and slice the word 'Spider' from it.

##4. Store the word 'Iron-Man' in a variable and use reverse indexing to reverse it.

In [ ]:
## slicing

marvel_heroes = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

'''
You want to narrow down the list to the last 6 characters in the list. These characters are:

Namor
Doctor Strange
Wolverine
Captain America
Black Widow
Thor
'''
new_heroes = marvel_heroes[11:4:-1]

print(new_heroes)

['Namor', 'Doctor Strange', 'Wolverine', 'Captain America', 'Black Widow', 'Thor']

In [ ]:
## iterable[start:stop:step]

## begin(included) , end(excluded) , jump size

al
a

In [ ]:
team1 = marvel_heroes[0::2]
team2 = marvel_heroes[1::2]

print(team1)
print(team2)

['Avengers', 'Spider-Man', 'Hulk', 'Black Widow', 'Wolverine', 'Namor']
['X-Men', 'Iron Man', 'Thor', 'Captain America', 'Doctor Strange']

In [ ]:
new1 = marvel_heroes[2]

new2 = new1[0:6]

print(new1)
print(new2)

Spider-Man
Spider

In [ ]:
new3 = marvel_heroes[3]

new_reverse = new3[::-1]

print(new3)
print(new_reverse)

Iron Man
naM norI

##30. Backetball score tracker class

In [ ]:
## Basketball score tracker oops = completed

class basketball_game:

  def __init__ (self):

    self.score1 = 0
    self.score2 = 0

  def update_(self , new_pts1 , new_pts2):

    if type(new_pts1) == str or type(new_pts2) == str:
      raise ValueError("Pls input num")

    print(type(new_pts1))
    self.score1 = self.score1 + new_pts1
    self.score2 = self.score2 + new_pts2


  def print_(self):
    print("Latest score for team1 : ",self.score1)
    print("Latest score for team2 : ",self.score2)

In [ ]:
score = basketball_game()

score.update_(2,3)

score.print_()

Latest score for team1 :  2
Latest score for team2 :  3

In [ ]:
score.update_(1,1)
score.print_()

Latest score for team1 :  3
Latest score for team2 :  4

In [ ]:
score.update_(1,1)
score.print_()

Latest score for team1 :  5
Latest score for team2 :  6

In [ ]:
score.update_('a' , 'a')

inside

ValueError: Pls input num

In [ ]:
  a = 'aa'
  b = 'bb'

  if a.isalpha() or b.isalpha():
    print("inside")
    raise ValueError("Pls input num")
  else:
    print("num")

In [ ]:
s = 'abs'

if s.isalpha():
  print("working")

working

In [ ]:
score.update_(a , 1)

NameError: name 'a' is not defined

In [ ]:
b = 'a'
score.update_(b,1)
score.print_()

inside

ValueError: Pls input num

##8. Arithmetic Op
##1. Area of sq
##2. Volume of cube
##3. Quotient and remainder when dividing

In [ ]:
## Arithmetic op in data types = completed

'''
area of sq
volume of cube
quotient and remainder when dividing
'''

def sq_area(side):
  return side**2

def cube_vol(side):
  return side**3

def total_div(num1 , num2):

  if num2 == 0:
    raise ZeroDivisionError("Pls input num2 not equal to 0")

  elif type(num1) == str or type(num2) == str:
    raise ValueError("Pls input numerical value")

  else:
    print("Quotient1 = " , round(num1/num2 , 2))
    print("Quotient2 = ", num1//num2 )
    print("Remainder = ", num1%num2)

In [ ]:
print(sq_area(5))
print(cube_vol(12))
print(total_div(0, 0))

25
1728

ZeroDivisionError: Pls input num2 not equal to 0

##9. Bags comparison

In [ ]:
## Bags comparison = completed

def bags_comp(wt1 , wt2):

  if wt1 >= 13 or wt2 >= 13:
    print("Youn cannot go , Pls make both bags wts less than 13kg")
  elif wt1 < 6 or wt2 <6:
    print("Enjoy your trip")
  else:
    print("You cannot go , Pls make only one bag smaller than 6kg")

In [ ]:
bags_comp(110 , 5)

Youn cannot go , Pls make both bags wts less than 13kg

##10. Count books that contains word 'python'

In [ ]:
## count books that contains word python = completed

books_lst = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho",
]
totalp , totalP , total = 0,0,0
for book in books_lst:
  totalP = totalP + book.count("Python")
  totalp = totalp + book.count("python")

total = totalP + totalp

print(total)

2

##11.Using built function like split()
##1. Create a list containing the three sentences in the statement.
##2. The name 'anas' is spelled wrong. Replace it with 'Anas'.
##3. The title of the book is not written in the correct cases as well. Make corrections there.
##4. You believe "The Shawshank Redemption" would be bit too gloomy for the lot. Take user input of which movie to recommend and replace "The Shawshank Redemption" from the statement with the new recommendation.

In [ ]:
#### str built in functions = completed

statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

sent_lst = statement.split(".")

new = statement.replace('anas' , 'Anas')

new = statement.replace("the shawshank redemption" , "The Shawshank Redemption")

new_m = input("Write your favorite movie : ")

new = statement.replace("the shawshank redemption" , new_m)

print(new)

Write your favorite movie : iron Man
anas eagerly recommended 'iron Man' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

##12. Suppose you have a collection of your favorite movies and you want to keep track of them using a Python list. You start with an empty list [] and keep adding new movies to it. You also want to be able to remove movies that you have watched or no longer wish to keep in your collection. Finally, you want to be able to count how many movies you have in your collection and reverse the order of the list.

In [ ]:
## Movie list = Here I am using dict intead of list = completed

'''
Create movies lst/dct dynamically
Remove watched movies
Then count the no.of movies in collection
Then reverse the order of collection
'''

mov_dict = {}
inp = input("To enter movies press Y else N : ")

while inp in 'Yy':
  mov = input('Movies: ')
  value = input("Press 'W' for watched else 'N' :")
  if value not in'WNwn':
    raise ValueError("Pls enter only from W , N , w , n")
  else:
    mov_dict[mov] = value
  inp = input("To enter movies press Y else N : ")


dele = input("To delete movies press Y else N : ")

while dele in 'Yy':
  del mov_dict[input("Enter movies you want to del : ")]
  dele = input("To delete movies press Y else N : ")


print(mov_dict)

## Reversing dict using dict comprehension:
'''new_lst = list(mov_dict)
rev_lst = list(reversed(new_lst))

new_dict = dict(rev_lst)
rev_dict = {v:k for k,v in new_dict.items()}

print(rev_dict)'''

## new_mov_dict = {k:v for k in mov_dict}

To enter movies press Y else N : Y
Movies: IRON MAN
Press 'W' for watched else 'N' :W
To enter movies press Y else N : Y
Movies: THOR
Press 'W' for watched else 'N' :W
To enter movies press Y else N : Y
Movies: LOKI
Press 'W' for watched else 'N' :W
To enter movies press Y else N : N
To delete movies press Y else N : N
{'IRON MAN': 'W', 'THOR': 'W', 'LOKI': 'W'}

'new_lst = list(mov_dict)\nrev_lst = list(reversed(new_lst))\n\nnew_dict = dict(rev_lst)\nrev_dict = {v:k for k,v in new_dict.items()}\n\nprint(rev_dict)'

In [ ]:
mov_dict

{'IRON MAN': 'W', 'THOR': 'W', 'LOKI': 'W'}

##13. Code to reverse a dict

In [ ]:
## Code to reverse a dict

%%time
new_key_lst = list(mov_dict)
new_value_lst = list(mov_dict.values())

print(new_key_lst)
print(new_value_lst)

rev_key_lst = list(reversed(new_key_lst))
rev_value_lst = list(reversed(new_value_lst))

print(rev_key_lst)
print(rev_value_lst)

rev_t_lst = list(zip(rev_key_lst , rev_value_lst))

print(rev_t_lst)

rev_dict = dict(rev_t_lst)

print(rev_dict)

['IRON MAN', 'THOR', 'LOKI']
['W', 'W', 'W']
['LOKI', 'THOR', 'IRON MAN']
['W', 'W', 'W']
[('LOKI', 'W'), ('THOR', 'W'), ('IRON MAN', 'W')]
{'LOKI': 'W', 'THOR': 'W', 'IRON MAN': 'W'}
CPU times: user 3.15 ms, sys: 0 ns, total: 3.15 ms
Wall time: 3.45 ms

##14. Building a Guessing Game

In [ ]:
## Guessing game = completed
import random

rndm_num = random.randint(1 , 101)

guess = int(input("Guess the number btw 1 to 100 in 7 tries : "))
tries = 6

while tries != 0:
  if guess > rndm_num and abs(guess - rndm_num) > 20:
    print("The guess is too high")
    tries -= 1
  elif guess > rndm_num and abs(guess - rndm_num) in range(10,20):
    print("The guess is high by 10 to 20 diff but close")
    tries -= 1
  elif guess > rndm_num and abs(guess - rndm_num) in range(5,10):
    print("The guess is high by 5 to 10 diff but close")
    tries -= 1
  elif guess > rndm_num and abs(guess - rndm_num) in range(1,5):
    print("The guess is high by 1 to 5 diff but close")
    tries -= 1
  elif guess < rndm_num and abs(guess - rndm_num) > 20:
    print("The guess is too low")
    tries -= 1
  elif guess < rndm_num and abs(guess - rndm_num) in range(10,20):
    print("The guess is low by 1 to 20 diff but close")
    tries -= 1
  elif guess < rndm_num and abs(guess - rndm_num) in range(5,10):
    print("The guess is low by 5 to 10 diff but close")
    tries -= 1
  elif guess < rndm_num and abs(guess - rndm_num) in range(1,5):
    print("The guess is low by 1 to 5 diff but close")
    tries -= 1
  elif guess == rndm_num:
    print("You guessed correct")
    break

  guess = int(input("Guess the number btw 1 to 100 in 4 tries : "))

if guess != rndm_num and tries == 0:
  print("You guessed wrong: game now over")
  print("Number was = ",rndm_num)

Guess the number btw 1 to 100 in 4 tries : 30
You guessed correct

##15. Calculator using conditional loop

In [ ]:
## calculator using loop = completed

off = 0
while off != 1:

 num1 = int(input("Input 1st num : "))
 num2 = int(input("Input 2nd num : "))
 select = input("Input function you want to perform (+ , - , *  , /) :")

 while select not in '+-*/':
   print("Pls selcect from these (+ , - , * , /)")
   select = input("Input function you want to perform (+ , - , *  , /) :")

 if select in '+':
   print("sum = " , num1+num2)
 elif select in '-':
   print("Subtraction = " , num1-num2)
 elif select in "*":
   print("Product = " , num1*num2)
 else:
   print("Division = " , num1/num2)

 off = int(input("TO OFF PRESS 1 else PRESS ANY: "))

Input 1st num : 1
Input 2nd num : 2
Input function you want to perform (+ , - , *  , /) :a
Pls selcect from these (+ , - , * , /)
Input function you want to perform (+ , - , *  , /) :d
Pls selcect from these (+ , - , * , /)
Input function you want to perform (+ , - , *  , /) :/
Division =  0.5
TO OFF PRESS 1: 1

##16. Fib seq generator

In [ ]:
## Fib seq generator = completed

def fib(t_seq):

  prev = 0
  next = 1

  if t_seq == 1:
    print(prev)
  elif t_seq == 2:
    print(prev)
    print(next)
  else:
    print(prev)
    print(next)
    t_seq -= 2
    while t_seq != 0:
      temp = 0
      temp = prev + next
      prev = next
      next = temp
      print(temp)
      t_seq -= 1
    return

In [ ]:
fib(6)

0
1
1
2
3
5

:##17. Counting no.of times the given digit occurs in given range

In [ ]:
## counting digits = completed

'''
enter range num1
enter range num2
enter digit to count
output count of digit in given range

'''

num1 = int(input("Enter range num1 : "))
num2 = int(input("Enter range num2 : "))
digit = int(input("Enter the digit to count : "))

###################################################
count = 0
for x in range(num1 , num2+1):

  if str(digit) in str(x):
    count += str(x).count(str(digit))
    print(x , " : " , count)

print("Your final count is : " , count)

Enter range num1 : 1
Enter range num2 : 100
Enter the digit to count : 1
1  :  1
10  :  2
11  :  4
12  :  5
13  :  6
14  :  7
15  :  8
16  :  9
17  :  10
18  :  11
19  :  12
21  :  13
31  :  14
41  :  15
51  :  16
61  :  17
71  :  18
81  :  19
91  :  20
100  :  21
Your final count is :  21

In [ ]:
list(range(1 , 2))

[1]

##18. Rolling a dice

In [ ]:
## Rolling a dice = completed

import random
off = 0
while off != 1:
 dice = random.randint(1 , 6)
 print(dice)
 off = int(input("To roll the dice more press 0 else 1 : "))

1
To roll the dice more press 0 else 1 : 0
5
To roll the dice more press 0 else 1 : 0
6
To roll the dice more press 0 else 1 : 0
2
To roll the dice more press 0 else 1 : 0
6
To roll the dice more press 0 else 1 : 0
4
To roll the dice more press 0 else 1 : 0
1
To roll the dice more press 0 else 1 : 0
1
To roll the dice more press 0 else 1 : 0
3
To roll the dice more press 0 else 1 : 0
5
To roll the dice more press 0 else 1 : 0
4
To roll the dice more press 0 else 1 : 1

##19. Cel to fahrenheit

In [ ]:
## celsius to fahrenheit = completed

cel = float(input("Input celsius value : "))

fah = cel*(9/5) + 32

print("The fahrenheit value : " , fah)

Input celsius value : 20
The fahrenheit value :  68.0

##20. Sum of odd index numbers = completed

In [ ]:
## sum of odd index numbers = completed

def sum_odd(lst):
  x = 0
  sum = 0
  for index , value in enumerate(lst):
    if (index+1) % 2 != 0:
      sum += value
  return sum

In [ ]:
lst = [1,2,3,4]
for x , y in enumerate(lst):
  print(x , " : " , y)

0  :  1
1  :  2
2  :  3
3  :  4

In [ ]:
lst = [1,2,3,4]
print(sum_odd(lst))

4

##21. Add of sq of odd nums in lst using lamda,map,filter,zip

In [ ]:
## sum of sq of odd nums in lst = Giving error in this notebook but not in other notebook

'''
lst = [1 , 2 , 3 , 4]
sum = 0
for x in lst:
  sum += x**2
  print(sum)
'''
lst = list((input("Input nums for sum of sq : ").split(",")))
lst = list(map(int , lst))
new_lst = list(filter(lambda x : x%2 != 0 , lst))
total = sum(list(map(lambda value : value**2 , new_lst)))

print(total)

Input nums for sum of sq : 1,2,3,4
10

In [ ]:
lst = [1,2,3,4]

print(sum(lst))

KeyboardInterrupt:

In [ ]:
'''lst = [1 , 2 , 3 , 4]
sum = 0
for x in lst:
  sum += x**2
  print(sum)'''

1
5
14
30

##22. Pizza and burger toppings = Filter out toppings of len >= 5

In [ ]:
## pizza and burger topping
## filter out toppings of len >=5   =  completed

pizza_toppings = ['mushroom', 'olive', 'tomato', 'pepperoni', 'onion', 'garlic']
burger_toppings = ['lettuce', 'cheese', 'mayonnaise', 'bacon', 'pickle', 'avocado']

new_pizza_toppings = list(filter(lambda topp : len(topp)>5 , pizza_toppings))
new_burger_toppings = list(filter(lambda topp : len(topp)>5 , burger_toppings))

total_toppings = new_pizza_toppings + new_burger_toppings

print(total_toppings)

['mushroom', 'tomato', 'pepperoni', 'garlic', 'lettuce', 'cheese', 'mayonnaise', 'pickle', 'avocado']

##23. sales data
## create sales data dict
## include only whose sales > 1000

In [ ]:
## sales data
## create sales data dict
## include only whose sales > 1000  = completed

countries = ["USA", "Canada", "Mexico", "Brazil", "UK", "France", "Germany", "China", "India"]
sales = [2500, 300, 1200, 800, 500, 2000, 4000, 1000, 1500]

sales_data_dict = { k : v for (k , v) in zip(countries , sales) if v > 1000}

print(sales_data_dict)

{'USA': 2500, 'Mexico': 1200, 'France': 2000, 'Germany': 4000, 'India': 1500}

##24. Stock Filtering

In [ ]:
## stock lst of dict
## remove all key value except name and price from each dict in lst   =  completed by both for loop and lst/dict comprehension
## remove only of those which have price > 100 and %change = +ve


stocks = [
    {'name': 'Apple Inc.', 'ticker': 'AAPL', 'price': 120.0, 'change': 0.05},
    {'name': 'Microsoft Corporation', 'ticker': 'MSFT', 'price': 95.0, 'change': -0.02},
    {'name': 'Amazon.com, Inc.', 'ticker': 'AMZN', 'price': 250.0, 'change': 0.1},
    {'name': 'Alphabet Inc.', 'ticker': 'GOOGL', 'price': 110.0, 'change': 0.02},
    {'name': 'Facebook, Inc.', 'ticker': 'FB', 'price': 80.0, 'change': 0.03}
]
'''
for value in stocks:
    if value['price'] > 100 and value['change'] > 0:
      del value['ticker']
      del value['change']
print(stocks)
'''

## new_stocks = [{k:v for k,v in value.items() if k not in ['tinker' , 'change']} for value in stocks if value['price'] > 100 and value['change'] > 0]

new_stocks= [{'name':stock['name'], 'price':stock['price']} if stock['price'] >100 and stock['change'] >0 else stock for stock in stocks ]

print(new_stocks)

[{'name': 'Apple Inc.', 'price': 120.0}, {'name': 'Microsoft Corporation', 'ticker': 'MSFT', 'price': 95.0, 'change': -0.02}, {'name': 'Amazon.com, Inc.', 'price': 250.0}, {'name': 'Alphabet Inc.', 'price': 110.0}, {'name': 'Facebook, Inc.', 'ticker': 'FB', 'price': 80.0, 'change': 0.03}]

##25. Duplicate songs using set comprehension

In [ ]:
## Song lst
## use set comprehension
## create new set
## delete songs that starts with 'S' and ends with 'n'  = completed

songs = ['Bohemian Rhapsody', 'Stairway to Heaven', 'Bohemian Rhapsody', 'Hotel California', 'November Rain', 'Stairway to Heaven', 'Sweet Child O\' Mine']

new_set2 = {value for value in songs if 'S' not in value[0] or 'n' not in value[-1]  }

print(new_set2)

{'November Rain', "Sweet Child O' Mine", 'Hotel California', 'Bohemian Rhapsody'}

##26. Paintbrush class

In [ ]:
## Paintbrush class = completed

class PaintBrush:

  def __init__ (self,size,color,brand,brush_type):

    self.size = size
    self.color = color
    self.brand = brand
    self.brush_type = brush_type



  def paint(self):

    print("Brush size = " , self.size , "\nBrush color = " , self.color , "\nBrush brand = " , self.brand , "\nBrush type = " , self.brush_type)

In [ ]:
size = input("select brush size from : small , medium , large = ")
if size not in ['small' , 'medium' , 'large']:
  raise ValueError("Pls input from these (small , medium , large)")
color =input("select brush color from : red blue green yellow = ")
if color not in ['red', 'blue', 'green', 'yellow']:
  raise ValueError("Pls input from these (red , blue , green , yellow)")
brand = input("select brush brand from : Winsor , Newton , Liquitex , Grumbacher = ")
if brand not in ['Winsor' , 'Newton' , 'Liquitex' , 'Grumbacher']:
  raise ValueError("Pls input from these (Winsor , Newton , Liquitex , Grumbacher)")
brush_type =input("select brush type from : round , flat = ")
if brush_type not in ['round', 'flat']:
  raise ValueError("Pls input from these (round , flat)")

brush1 = PaintBrush(size , color , brand , brush_type)

brush1.paint()

select brush size from : small , medium , large = a

ValueError: Pls input from these (small , medium , large)

##27. Bank account class

In [ ]:
## Bank account class
## deposit
## withdraw
## details
## attributes = acc_num , name , balance

class bank_account:

  acc_count = 0

  def __init__ (self , name  , acc_num):

    self.name = name
    self.acc_num = acc_num
    self.balance = 0


  def deposit(self , amount):

    self.balance += amount
    print("Your new balance is = " , self.balance)

  def withdraw(self , amount):

    if self.balance <= amount:
      print("Your balance is low = " , self.balance)
    else:
      self.balance -= amount
      print("Your net balance is = " , self.balance)

  def details(self):

    print("your details are :" , "\n")
    print("Name = " , self.name)
    print("Account number = " , self.acc_num)
    print("Balance = " , self.balance , "\n")

In [ ]:
acc1 = bank_account("Apple" , 1234567)
acc1.deposit(7000)
acc1.details()

Your new balance is =  7000
your details are :

Name =  Apple
Account number =  1234567
Balance =  7000

##28. add of list of n natural numbers

In [ ]:
## sum of 1st n natural num

n = int(input("enter till what the sum is needed : "))

sum = n*(n+1)/2

print(sum)

enter till what the sum is needed : 2
3.0

In [ ]:
## Time class
## input = hours and minutes
## output = Corresponding time in AM/PM  = fully completed

class Time:
  def __init__(self,hour,minute):
    self.hour = hour
    self.min = minute

  def DisplayTime(self):

    if self.min > 60:
      while self.min > 60:
        self.hour += 1
        self.min -= 60

    if self.hour > 12:
      while self.hour > 12:
        self.hour -= 12
      print(self.hour,":",self.min,"PM")
    elif self.hour == 0:
      print(12,":",self.min,"AM")
    else:
      print(self.hour,":",self.min,"AM")




  def DisplayRatio(self):
    try:
      print(round(self.min/self.hour,2))
    except ZeroDivisionError:
      print("Cannot be divided by zero")

In [ ]:
hour_min_list = [(23,45), (34,50), (12,34), (14,67),(19,20), (2,15), (0, 10)]

for value in hour_min_list:

  time = Time(value[0],value[1])
  time.DisplayTime()
  time.DisplayRatio()

11 : 45 PM
4.09
10 : 50 PM
5.0
12 : 34 AM
2.83
3 : 7 PM
2.33
7 : 20 PM
2.86
2 : 15 AM
7.5
12 : 10 AM
Cannot be divided by zero